.banner{
    left: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 50%;
    width: 200vw;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
}
.text{
    color: rgb(232, 236, 10);
    font-weight: bold;
    font-size: 200px;
    padding: 0;
    margin: 0;
    position: absolute;
    animation-name: textLoop;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.text1{
    left: 0;
    animation-delay: 0;
}
.text2{
    left: 50vw;
    animation-delay: -20s;
}

@keyframes textLoop{
    0% {left: 100vw;}
    50%{left: 0;}
    50.01%{left: 0;}
    100%{left: -100vw;}
}
@media only screen and (max-width: 775px) {
    .text{
        font-size: 20vw;
    }
}
@media only screen and (max-width: 400px) {
    .text{
        font-size: 80px;
    }
}