.banner{
    left: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 50%;
    transform: translate(0,-50%);
    width: 200vw;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    height: 300px;
    overflow: hidden;
}
.text{
    color: rgb(232, 236, 10);
    font-weight: bold;
    font-size: 200px;
    padding: 0;
    margin: 0;
    position: absolute;
    animation-name: textLoop;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 40px;
    opacity: 1;
    /*text-shadow: 3px 3px 10px gray;*/
    transition: opacity 1s ease-out, top .5s ease-in-out;
    will-change: left, top;
}
.above{
    top: -310px !important;
    opacity: 0;
}
.below{
    top: 230px !important;
    opacity: 0;
}
.text1{
    left: 0;
    animation-delay: 0;
}
.text2{
    left: 50vw;
    animation-delay: -20s;
}

@keyframes textLoop{
    0% {left: 100vw;}
    50%{left: 0;}
    50.01%{left: 0;}
    100%{left: -100vw;}
}
@media only screen and (max-width: 775px) {
    .text{
        font-size: 20vw;
    }
}
@media only screen and (max-width: 450px) {
    .text{
        font-size: 80px;
    }
}