.container{
    height: 100px;
    position: absolute;
    left: 70px;
    top: -18%;
    margin: 0;
    padding: 0;
    transform-origin: center bottom;
    animation-name: textLoop;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes textLoop{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}